## Titanic Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ïó∞Ïäµ Î¨∏Ï†ú

In [3]:

import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# Titanic Îç∞Ïù¥ÌÑ∞ÏÖã Î°úÎìú
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### üî∞ 1Îã®Í≥Ñ (Í∏∞Ï¥à)

In [ ]:

# 1. Ï†ÑÏ≤¥ ÌÉëÏäπÍ∞ù Ïàò
len(df)

# 2. Ï†ÑÏ≤¥ ÏÉùÏ°¥Ïú®
df['survived'].mean()

# 3. ÏÑ±Î≥ÑÎ≥Ñ ÏÉùÏ°¥Ïú® ÏãúÍ∞ÅÌôî
sns.barplot(data=df, x='sex', y='survived')
plt.title('Survival Rate by Sex')
plt.show()

# 4. pclassÎ≥Ñ ÌÉëÏäπÍ∞ù Ïàò ÏãúÍ∞ÅÌôî
sns.countplot(data=df, x='pclass')
plt.title('Passenger Count by Class')
plt.show()

# 5. 1Îì±Í∏â Ïó¨ÏÑ± ÏÉùÏ°¥Ïú®
df[(df['pclass']==1) & (df['sex']=='female')]['survived'].mean()

### üî∞ 2Îã®Í≥Ñ (Ï§ëÍ∏â)

In [4]:

# 6. pclassÏôÄ sex Í∏∞Ï§Ä ÏÉùÏ°¥Ïú®
df.groupby(['pclass','sex'])['survived'].mean()

# 7. pclass vs survived ÍµêÏ∞®Ìëú
pd.crosstab(df['pclass'], df['survived'])

# 8. ÎÇòÏù¥Î•º 10ÏÇ¥ Îã®ÏúÑÎ°ú ÎÇòÎà† ÏÉùÏ°¥Ïú® Í≥ÑÏÇ∞
df['age_group'] = pd.cut(df['age'], bins=range(0, 81, 10))
df.groupby('age_group')['survived'].mean()

# 9. ÌòïÏ†ú/ÏûêÎß§ ÏàòÏóê Îî∞Î•∏ ÏÉùÏ°¥Ïú®
df.groupby('sibsp')['survived'].mean()

# 10. ÏöîÍ∏à ÏÉÅÏúÑ 25% ÏäπÍ∞ùÏùò ÏÉùÏ°¥Ïú®
q3 = df['fare'].quantile(0.75)
df[df['fare'] >= q3]['survived'].mean()

C:\TempFolder\ipykernel_6908\1198826056.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['survived'].mean()

np.float64(0.5822222222222222)

In [1]:
list(range(0,81,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80]

### üî∞ 3Îã®Í≥Ñ (Ïã¨Ìôî)

In [ ]:

# 11. age vs fare ÏÇ∞Ï†êÎèÑ (ÏÉùÏ°¥ Ïó¨Î∂Ä ÏÉâÏÉÅ Íµ¨Î∂Ñ)
sns.scatterplot(data=df, x='age', y='fare', hue='survived')
plt.title('Age vs Fare with Survival')
plt.show()

# 12. ÏÑ±Î≥Ñ + Îì±Í∏âÎ≥Ñ ÏÉùÏ°¥Ïú® ÌûàÌä∏Îßµ
pivot = df.pivot_table(values='survived', index='sex', columns='pclass', aggfunc='mean')
sns.heatmap(pivot, annot=True, cmap='Blues')
plt.title('Survival Rate by Sex and Class')
plt.show()

# 13. child/adult Ïª¨Îüº ÏÉùÏÑ± ÌõÑ ÏÉùÏ°¥Ïú® ÎπÑÍµê
df['group'] = df['age'].apply(lambda x: 'child' if x < 18 else 'adult')
df.groupby('group')['survived'].mean()

# 14. 1Îì±Í∏â Ïó¨ÏÑ± vs 3Îì±Í∏â ÎÇ®ÏÑ± ÏÉùÏ°¥Ïú® ÎπÑÍµê
first_female = df[(df['pclass']==1) & (df['sex']=='female')]['survived'].mean()
third_male = df[(df['pclass']==3) & (df['sex']=='male')]['survived'].mean()
first_female, third_male

# 15. deckÎ≥Ñ ÏÉùÏ°¥Ïú® ÌûàÌä∏Îßµ
deck_pivot = df.pivot_table(values='survived', index='deck', aggfunc='mean')
sns.heatmap(deck_pivot, annot=True, cmap='Greens')
plt.title('Survival Rate by Deck')
plt.show()